.home-page{

    .text-zone{
        position: absolute;
        left: 10%; 
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
    }

    h1 {
        color: #ffffff;  
        font-size: 70px; 
        margin: 0;
        font-family: 'Coolvetica';
        font-weight:400; 
        animation: fadeIn 1s 1s backwards;

        img {
            width: 300px;
            margin-left: 20px;
            animation: fadeIn 1s 3.5s backwards;
        }
    }

    h2 {
        color: #ffffff;  
        font-family: sans-serif;
        letter-spacing: 1.5px;
        animation: fadeIn 1.5s 4s backwards;
    }

    .flat-button {
        color: #ffffff;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 4px;
        font-family: sans-serif;
        text-decoration: none;
        padding: 10px 18px;
        border: 1px solid #ffffff;
        margin-top: 25px;
        float: left;
        animation: fadeIn 1s 4.5s backwards; 
    }
}