
html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font:300 15px/1.4 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
  color: #444;
  background-color: #626567;
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 1200px) {
  body{
    overflow: visible;
  }
  
}

